._todolst1 {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  overflow-y: auto;
  background: #ffffffb5;
  backdrop-filter: blur(4px);
  padding: 4px 12px;
}
  ._todolst20{
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 10px;
  }
  ._todolst2 > h3 {
    font-size: 24px;
    padding-bottom: 6px;
    color: #44d;
    font-weight: 600;
  }
  ._todolst2 > p {
    font-size: 15px;
    color: #333;
    font-weight: 500;
  }
  ._todolst3 {
    display: flex;
    align-items: center;
  }
  ._todolst4 {
    color: red;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
  }
  ._todolst5 {
    display: block;
  }
  ._todolst6 {
    display: block;
    font-size: 20px;
  }
  ._two1 {
    max-width: 500px;
    width: 100%;
    margin: 6px auto;
    box-shadow: 0 0 4px -2px #333;
    background: #fff;
    padding: 10px 15px;
  }
  ._two3 {
    margin-bottom: 12px;
  }
  ._two3 > label {
    display: block;
    color: #44d;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
  }
  ._two3 > input {
    width: 100%;
    height: 50px;
    padding: 6px 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
  }
  ._two3 > input::placeholder {
    font-size: 16px;
  }
  ._two4 {
    display: block;
    width: 100%;
    background: #44d;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 13px 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
  ._back1 {
    display: inline-block;
    margin-top: 12px;
    color: #44d;
    font-size: 18px;
    font-weight: 500;
  }
  ._two10 {
    color: #44d;
    text-align: center;
    margin: 4px 5px 12px;
  }